@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;700&display=swap');

 html {
    box-sizing: border-box;
    scroll-behavior: smooth;
 }
 *, *::before, *::after{
    box-sizing: inherit;
 }

 body {
    color: #000000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
 }
 .wrapper {
    max-width: 1440px;
    margin: 0 auto;
 }

/*header start*/

 .header__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    background-color: #0C0C0E;
 }

 .header__nav {
    height: 50px;
 }

 .header__list {
    display: flex;
    flex-wrap: wrap;
    transition: opacity 0.9s;
 }

 .header__link:hover {
    opacity: 0.3;
 }

 .header-box {
    display: flex;
    align-items: center;
 }

 .header__item {
    margin-right: 30px;
    z-index: 5;
 }

 .header__item:last-child {
    margin-right: 40px;
 }

 .background-library::after {
    content: "";
    position: absolute;
    top: 45px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    max-height: 600px;
    max-width: 1440px;
    margin: 0 auto;
    background: url(../img/overlay.png) no-repeat center;
    background-size: cover;
}

 .header__name {
    z-index: 5;
    margin: 20px 0px 20px 20px;
    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.6px;
    max-width: 294px;
    height: 50px;
 }

 .header__link {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px; 
}

.header__img {
    margin: 31px 20px 31px 0px;
    z-index: 5;
}

.welcome {
    width: 600px;
    max-height: 220px;
    padding: 35px 40px;
    margin: 220px 0px 0px 0px;
    background-color: #0C0C0E;
    color: #FFF;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    z-index: 5;
    position: absolute;
}

.welcome__background {
    background: url(../img/welcome_origin.jpg) no-repeat;
    background-position: right;
    height: 600px;
    position: relative;
    background-size: cover;
 }

/*header end*/

/*section about start*/
.content {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.about {
    position: relative;
}

.title {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    padding-top: 20px;
    text-align: center;
}

.title::after {
    content: "";
    position: absolute;
    top: 80px;
    left: 0;
    width: 50px;
    height: 1px;
    background-color: #0C0C0E;
    right: 0;
    margin: 0 auto;
    display: block;
}

.about__subtitle {
    margin: 61px 0px 20px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    font-family: Inter;
    text-transform: none;
    letter-spacing: 0;
}

.about__wrap {
    display: flex;
    justify-content: space-between;   
}

.about__buttons__box {
    display: flex;
    justify-content: center;
}

.about__buttons {
    display: flex;
    margin: 35px 0px;
}

.about__btn {
    display: block;
    height: 26px;
    width: 26px;
    padding: 5px;
    outline: none !important;
}

.about__btn__link {
    display: block;
    height: 16px;
    width: 16px;
    background-color: #0C0C0E;
    border: 1px solid #0C0C0E;
    border-radius: 50%;
}

.btn_bej {
    display: block;
    height: 16px;
    width: 16px;
    background-color: #BB945F;
    border: 1px solid #BB945F;
    border-radius: 50%;
}

/*section about end*/

/*section favorites start*/

.favorites {
    position: relative;
}

.favorites__subtitle {
    margin: 63px 0px 40px;
    font-size: 20px;
    font-weight: 700;
}

.form__wrap {
    display: flex;
    font-size: 20px;
    font-weight: 700;
}

.form__box {
    margin: 0px 85px 35px 0px;
}

.custom-radio-btn { /*внешний круг радио кнопки*/
    position:relative;
    display: inline-block;
    width: 17px;
    height: 17px;
    background: #fff;
    border: 2px solid #000000;
    border-radius: 50%;
    vertical-align: text-top;
    margin: 5px 20px 0px 0px;
}
.custom-radio-btn::before { /*внутренний круг радио кнопки*/
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    background: #000;
    border-radius: 50%;
    position: absolute; /*выравнивание*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
}

.real-radio-btn:checked + .custom-radio-btn::before { /*кастомная кнопка включится, если включится реальная*/
    transform: translate(-50%, -50%) scale(1);  
}

.real-radio-btn { /*скрываем реальную кнопку*/
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.form__label {
    display: inline-block;
    padding: 5px;
    margin-left: -5px;
    margin-top: -3px;
    cursor: pointer;  /*увеличиваем область наведения*/
}

.spring {
    display: none;
}

.summer {
    display: none;
}

.autumn {
    display: none;
}

.favorites__line {
    display: flex;
    justify-content: space-between;
}

.favorites__box {
    width: 550px;
    height: 555px;
    border: 1px solid #000;
    position: relative;
    margin: 0px 40px 40px 0px;
 }
 
.favorites__headline {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    padding: 15px 0px 20px 20px;
    position: relative;
    vertical-align: top;
}

.favorites__headline::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 1px;
    background-color: #BB945F;
    left: 20px;
    top: 55px;
}

.favorites__name, .favorites__author {
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0px 0px 0px 20px;
}

.favorites__author {
    text-transform: none;
}

.favorites__text {
    max-width: 355px;
    height: 320px;
    margin-left: 20px;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 20px;
}

.favorites__btn {
    margin: 15px 0px 15px 20px;
    padding: 9px 27px;
    color: #0C0C0E;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: border 0.7s;
    transition:  background-color 0.6s;
    max-width: 75px;
    max-height: 30px;
}

.favorites__btn:hover{
    background-color: #BB945F;
    border: 2px solid #BB945F;
    border-radius: 2px;
}

.btn__own {
    color: #BB945F;
    border: 1px solid #BB945F !important;
    border-radius: 2px;
    background-color: #FFF !important;
}

.favorites__img {
    position: absolute;
    bottom: -1px;
    right: -40px;
    max-width: 100%;
}

/*section favorites end*/

/*section coffee shop start*/

.coffee {
    position: relative;
}

.coffee__subtitle {
    max-width: 1400px;
    margin: 61px 0px 40px 0px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: none;
}

.coffe__wrap {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.coffee__menu__title {
    padding-bottom: 40px;
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.coffee__menu__title-dessert {
    text-align: right;
}
.coffee__tea {
    width: 438px;
}

.coffee__cakes {
    max-width: 482px;
}

.coffee__line {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 40px;
}

.coffee__price {
    font-family: Forum;
}

.coffee__price::before {
    content: "";
    position: absolute;
    background: #BB945F;
    max-width: 100px;
    max-height: 1px;
    right: 81px;
    top: 25%;
}

.right-side ::before {
    content: "";
    position: absolute;
    background: #BB945F;
    max-width: 100px;
    height: 1px;
    right: 91px;
    top: 25%;
}

.right-side .coffee__price {
    padding-left: 220px;
}

.right-side {
    justify-content: flex-end;
}
/*section coffee shop end*/

/*section our contacts start*/
 a {
    text-decoration: none;
    color: inherit;
 }

 .contacts {
    position: relative;
 }
.contacts__title{
    padding: 20px 0px 61px;
}

.contacts__box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.contacts__phone {
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.contacts__subtitle {
    padding-bottom: 40px;
}

.bold {
    font-weight: 700;
}

.contacts__senior {
    padding: 20px 0px;
}

.contacts__number {
    padding-bottom: 20px;
}

.contacts__link {
    transition: font-weight 0.5s;
    transition: opacity 0.6s;
}

.contacts__link:hover {
    font-weight: bold;
    opacity: 0.6;
}

.contacts__map {
    position: relative;
    max-width: 696px;
    height: 414px;
}

.contacts__img {
    position: absolute;
    right: 0;
    bottom: 0;
}
/*section our contacts end*/

/*section library card start*/

.cards {
    position: relative;
}

.cards__title {
    padding-bottom: 61px;
}

.cards__box {
    display: flex;
    justify-content: space-between;
}

.cards__subtitle {
    margin: 3px 0px 33px 138px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.6px;
}

.cards__border {
    border: 3px solid #BB945F;
    margin-bottom: 39px;
    box-shadow: 0px 13px 18px -19px #000000;
}

.cards__input {
    background: #BB945F;
    margin: 17px;
    padding-bottom: 2px;
}

.cards__input__text {
    font-family: Forum;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    padding: 20px 246px 20px 20px ;
}

.cards__field {
    display: block;
    width: 520px;
    height: 66px;
    margin: 0px 20px 25px 20px;
    border-radius: 10px;
    border: none;
    font-family: Forum;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.6px;
    padding: 8px 0px 8px 20px;
    color:#BB945F;
}

.cards__field::placeholder {
    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.6px;
    padding: 8px 0px 8px 0px;
}

.cards__btn {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    margin: 3px 179px 30px;
    padding: 10px 40px;
    transition: border 0.7s;
    transition: background-color 0.6s;
}

.cards__btn:hover{
    background-color: #BB945F;
    border: 2px solid #BB945F;
    border-radius: 2px;
    padding: 9px 39px;
}

.cards__get {
    text-align: right;
}

.cards__get__subtitle {
    font-family: Forum;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.6px;
    margin-bottom: 38px;
}

.cards__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.4px;
    width: 456px;
    margin-bottom: 35px;
}

.cards__get__btn {
    margin-left: 15px;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    padding: 10px 15px;
    transition: border 0.7s;
    transition: background-color 0.6s;
}

.cards__get__btn:hover{
    background-color: #BB945F;
    border: 2px solid #BB945F;
    border-radius: 2px;
    padding: 9px 14px;
}

.btn__login {
    width: 75px;
}

/*section library card end*/

/*footer start*/
.footer {
    background-color: #0C0C0E;
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.footer__wrap {
    padding: 20px 20px 0px;
    background-color: #0C0C0E;
    height: 250px;
}

.address {
    width: 229px;
    padding-bottom: 18px;
}

.media {
    display: flex;
}
.address__link {
    text-decoration: none;
    color: inherit;
    outline: none !important;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #FFF;;
}

.footer__img {
    margin-right: 15px;
}

.media__link {
    outline: none !important;
}
.workdays {
    text-align: right;
    margin-bottom: 10px;
}

.dayoff {
    text-align: right;
    margin-bottom: 30px;
}

.footer__course {
    display: flex;
    justify-content: space-between;
    padding-top: 44px;
    font-family: Inter;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
}

.footer__name {
    margin-left: -140px;
}

.footer__link {
    text-decoration: none;
    color: inherit;
    outline: none !important;
}
/*footer end*/